<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | De-Kaya Portal</title>
    <script type="importmap"></script>
    <!-- Highlight -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- Bootstrap ICONs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <!-- Quill Text Editor -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-versinton="true">
</head>
<body>

    <div class="wrapper-portal">
        <aside class="sidebar">
            <partial name="Partials/Panel/_LinkLogotype" />
            <partial name="Partials/Panel/_NavLinks" />
        </aside>
        <header class="header">
            <partial name="Partials/Panel/_Header" />
        </header>
        <main class="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
