@model SignInViewModel

@{
    Layout = "_Layout_CenterScreen"; 
    ViewData["Title"] = Model?.Title ?? "Giriş Yap";
}

<section id="login">
    <form asp-controller="Auth" asp-action="SignInPage" method="post" enctype="multipart/form-data" novalidate>

        <div class="form-group">
            <img class="login-img" src="~/images/dekaya-logo-D2gTNMfE.png" alt="De-Kaya Logo" />
        </div>

        <div class="divider"></div>

        <h1>@ViewData["Title"]</h1>


        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="field-group">
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-signin-details">
                <div class="form-remember-me">
                    <input class="form-checkbox" type="checkbox" />
                    <span>Beni Hatırla</span>
                </div>
                <a>Forgot Password?</a>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">Login</button>
        </div>
    </form>
</section>