@{
    var displayName = User.Claims.FirstOrDefault(m => m.Type == "DisplayName")?.Value;
    var profilePicture = User.Claims.FirstOrDefault(c => c.Type == "ProfileImage")?.Value ?? "/images/user-profile-man.svg";

}

<div id="account-container">
    <button type="button" data-type="dropdown" class="btn-account" data-target="#account-dropdown">
        <img src="@Url.Content(profilePicture)" alt="Login user image" />
    </button>
    <div id="account-dropdown" class="dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="@Url.Content(profilePicture)" alt="Login user image" />
                <span>@displayName</span>
            </div>
            <div class="account-details">
                <span class="role">Current Role: <strong>Role</strong></span>
            </div>
        </div>
        <div class="dropdown-body">
            <div class="divider"></div>
            <nav class="dropdown-actions">
                <a class="dropdown-action" type="button" asp-controller="Auth" asp-action="SignOutUser">
                    <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                    <span>Sign out</span>
                </a>
            </nav>
        </div>
    </div>
</div>
